*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}
/* body{
    background-color: rgba(0, 0, 255, 0.112);
} */
.bar-atas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
}
.bar-atas img{
    width: 150px;
    object-fit: contain;
}
.bar-atas ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.bar-atas span img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}
.bar-atas ul li{
    list-style-type: none ;
    font-family: "Poppins";
}
.bar-atas button{
    padding: 10px 50px;
    margin-left: 30px;
    border: 2px solid blue;
    background-color: white;
    border-radius: 10px;
   height: 50px;
   font-family: "Poppins";
}
a{
    text-decoration: none;
    color: black;
}
.bar2{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.kiri{
   display: flex; 
   flex-direction: column;
   gap: 20px;
   
}
.tombolatas{
    padding: 5px 30px;
    background-color: rgba(0, 0, 255, 0.119);
    width: fit-content;
    font-size: 25px;
    border: 1px solid blue;
    border-radius: 1000px;
}
.kiri h1{
    font-size: 46px;
    line-height: 50px;
    font-weight: 600;
}
.kiri button{
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 30px;
    font-size: 18px;
}
.bar2 img{
    width: 500px;
}
.Data .section3 div{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    height: 250px;
    
}
.Data div img{
   position: absolute ;
   bottom: 0px;
   right: 0px;
}
.Data{
    background-color: rgba(0, 0, 255, 0.112);
    padding: 100px;

}
.Data .judul{
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 500;
    border-left: 3px solid blue;
    padding-left: 5px;
}
.Data .section3{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    

    
    
}
.Data div h1{
    font-weight: 500;
}
.section4{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
}
.section4 .profile div img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}
.profile .deskripsi{
    border: 1px solid rgba(0, 0, 255, 0.366);
    box-shadow: 10px 16px 44px -11px rgba(105,115,241,0.71);
    -webkit-box-shadow: 10px 16px 44px -11px rgba(105,115,241,0.71);
    -moz-box-shadow: 10px 16px 44px -11px rgba(105,115,241,0.71);
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-radius: 10px;

}
.profile{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.Visi{
    width: 65%;
}
.deskripsi p{
    text-align: center;
}
.deskripsi h3{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
}
.Visi h4{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.section4 h1{
    font-size: 46px ;
    font-weight: 500;
    border-left: 3px solid blue;
    padding-left: 10px;
}
.footer{
    background-color: black;
    padding: 50px 100px;
}
.footer p{
    color: white;
    text-align: center;
}